@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
}

body {
  background-color: #f3f4f6; /* gray-100 */
}

.dark body {
  background-color: #111;
}

/* Custom Utilities */
.h-safe-screen {
  height: 100vh; /* Fallback */
  height: 100dvh;
}
